.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/tennai.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.main_wrap {
  max-width: 1200px;
}

.main {
  max-width: 1200px;
  margin: 200px auto 200px auto;
  background-color: rgb(254, 248, 225);
  border-radius: 30px;
  padding: 100px 220px 100px 230px;
  color: #492c00;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color:#492c00;
}

.title_ruby {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.contacttextbox {
  text-align: center;
  margin-top: 50px;
}

.contacttext {
  font-size: 1rem;
  margin-bottom: 30px;
}

.radiobutton_container_wrap {
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.radiobutton_container_wrap_error {
  margin: auto;
  margin-top: 70px;
  display: flex;
  gap: 40px;
  margin-bottom: 18px;
}

.radiobutton_title {
  display: flex;
  font-size: 1rem;
  width: 40%;
  align-items: center;
}
.radiobutton_title_error {
  display: flex;
  font-size: 1rem;
  width: 40%;
  align-items: center;
  margin-bottom: 40px;
}

.radiobutton_wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radiobutton_gap {
  display: flex;
  margin-bottom: 20px;
}
  .radiobutton_gap:nth-child(3) {
    display: flex;
    margin-bottom: 0px;
  }

.radiobutton_gap input[type="radio"] {
  transform: scale(1.75);
  cursor: pointer;
}

.radiobutton_name {
  font-size: 1rem;
  padding-left: 15px;
}

.form_wrap {
  display: flex;
  margin-bottom: 40px;
  gap: 40px;
}
.form_wrap_error {
  display: flex;
  margin-bottom: 0;
  gap: 40px;
}

.formtitle {
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  font-size: 1rem;
}

.formtexttitle {
  width: 40%;
  font-size: 1rem;
}

.formbox {
  height: 3rem;
  border: 1px solid #492c00;
  border-radius: 5px;
  width: 100%;
}

.formtextbox {
  resize: none;
  height: 10rem;
  border: 1px solid #492c00;
  border-radius: 5px;
  width: 100%;
}


.consensus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input[type="checkbox"] {
  transform: scale(2);
  cursor: pointer;
}

.consensus {
  margin-left: 10px;
  font-size: 1rem;
  padding-left: 10px;
}

.confirmation_container {
  width: 27%;
  margin: 40px auto;
}

.confirmation {
  display: flex;
  padding: 20px 50px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #492c00 !important;
  border: 1px solid #000000;
  border-radius: 3rem;
  color: rgb(255, 249, 229);
  cursor: pointer;
}
.confirmation:active {
  transform: scale(.98);
}
.confirmation:hover {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #494949 !important;
  border: 1px solid #000000;
  border-radius: 3rem;
  color: rgb(255, 249, 229);
}


.link_wrap {
  display: flex;
  width: 100%;
}

.pravacy_link {
  text-decoration: underline black;
  text-underline-offset: 3px;
  margin: 30px auto;
}

.error_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.check_error_container {
  display: flex;
  margin: auto;
  width: 100%;
}

.error_text {
  display: flex;
  width: 68%;
  color: red;
  margin-bottom: 16px;
}

.check_error_text {
  text-align: center;
  width: 100%;
  color: red;
  margin-bottom: 16px;
}

@media (max-width: 900px){
  .radiobutton_container_wrap {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .radiobutton_container_wrap_error {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 18px;
  }

  .radiobutton_title_error {
  display: flex;
  font-size: 1rem;
  width: 40%;
  align-items: center;
  margin-bottom: 0px;
  }

  .radiobutton_wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .radiobutton_gap {
    display: flex;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  .radiobutton_gap:nth-child(3) {
    display: flex;
    padding-left: 5px;
    margin-bottom: 0px;
  }

  .form_wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    gap: 0px;
  }
  .form_wrap_error {
    flex-direction: column;
    margin: 0 auto;
    gap: 0px;
  }

  .formtitle {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    font-size: 1rem;
  }

  .confirmation_container {
    width: 100%;
    margin: 40px auto;
    margin-bottom: 100px;
  }

  .error_container {
    display: flex;
    justify-content: none;
    width: 100%;
  }

  .error_text {
    display: flex;
    width: 100%;
    color: red;
    margin-bottom: 16px;
  }

  .confirmation {
    display: flex;
    padding: 20px 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #492c00 !important;
    border: 1px solid #000000;
    border-radius: 3rem;
    color: rgb(255, 249, 229);
    cursor: pointer;
  }

  .confirmation:hover {
    display: flex;
    padding: 20px 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #494949 !important;
    border: 1px solid #000000;
    border-radius: 3rem;
    color: rgb(255, 249, 229);
  }

  .main {
    max-width: 1200px;
    margin: 200px auto 200px auto;
    background-color: rgb(254, 248, 225);
    border-radius: 30px;
    padding: 100px 100px 50px 100px;
    color: #492c00;
  }
}

@media (max-width: 430px) {
  .main {
    max-width: 1200px;
    margin: 200px auto 200px auto;
    background-color: rgb(254, 248, 225);
    border-radius: 30px;
    padding: 100px 15px 50px 15px;
    color: #492c00;
  }
  .form_wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0px;
    gap: 0px;
  }
  .form_wrap_error {
    flex-direction: column;
    margin: 0 auto;
    gap: 0px;
  }
}