* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, textarea, select, button {
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  background-color: transparent !important;
  overflow-x: hidden;
}

body {
  font-family: var(--font-noto-sans-jp), sans-serif;
  background-color: transparent !important;
  overflow-x: hidden;
}

#main, #about {
  scroll-margin-top: 25px;
}

:root {
    --header-height: 80px;
}

@media (max-width: 430px) {
    :root {
        --header-height: 60px;
    }
}