.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/tennai.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.mainvisual_wrap {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: calc(100dvh - 50px);
}

.mainvisual_title {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .mainvisual_title {
    width: 80%;
    max-width: 500px;
  }
}

@media (max-width: 375px) {
  .mainvisual_title {
    width: 90%;
    max-width: 300px;
  }
}

.main {
  margin: auto;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.infomation {
  background-color: rgb(254, 248, 225);
  width: 100%;
  z-index: -10;
}

.infomation_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1400px;
  padding: 50px 100px;
  margin-top: 80px;
  color: #492c00;
}

.infomation_top_text_left {
  flex-basis: 50%;
}

.infomation_top_text_right {
  flex-basis: 50%;
}

.infomation_top_title {
  position: relative;
  flex-basis: 100%;
  font-size: 1.5rem;
}
.infomation_top_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #d20c0c, rgba(0,0,0,0)) 1;
}

.infomation_boder {
  flex-basis: 50%;
}

.infomation_top_list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex-basis: 50%;
  border-left: 2px solid red;
  list-style-type: none;
  border-image: linear-gradient(to top, #d20c0c, rgba(0,0,0,0)) 1;
}

.infomation_top_list_text {
  padding-left: 20px;
  font-size: 1.5rem;
  margin-top: 10px;
  background-image : linear-gradient(to right, #bd1616 2px, transparent 2px);
  background-size: 6px 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

@media (max-width: 375px) {
  .infomation_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1400px;
    padding: 50px 40px;
    margin-top: 80px;
    color: #492c00;
  }

}


.storys_wrap {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: calc(-50vw + 49%);
  margin-top: 100px;
  z-index: 10;
  color: #492c00;
}

.storys_container {
  position: absolute;
  background-color: rgb(254, 248, 225);
  border-radius: 30px 0 0 30px;
  height: calc(100% + 50px);
  z-index: 1;
  margin-left: 82px;
  top: -25px;
  width: 100%;
}

.storys_text_wrap {
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding-left: 100px;
  width: 50%;
}

.storys_title {
  font-size: 2rem;
  border-bottom: 2px solid #492c00;
  width: auto;
}

.storys_text {
  font-size: 1rem;
}
.storys_donguri {
  font-weight: bold;
}

.storys_image {
  flex-basis: 40%;
  aspect-ratio: 16 / 9;
  width: auto;
  height: auto;
  z-index: 10;
}

@media (max-width: 768px) {
  .storys_wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    margin-top: 50px;
    padding: 20;
    z-index: 10;
    background-color: rgb(254, 248, 225);
  }

  .storys_container {
    display: none;
  }

  .storys_text_wrap {
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding-left: 0px;
    text-align: center;
  }

  .storys_title {
    font-size: 1.3rem;
  }

  .storys_text {
    font-size: 1rem;
  }

  .storys_image {
    display: flex;
    flex-basis: none;
    aspect-ratio: 16 / 9;
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 30px;
    z-index: 10;
  }
}

@media (max-width: 375px) {
  .storys_image {
    display: flex;
    flex-basis: none;
    aspect-ratio: 16 / 9;
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 0;
    z-index: 10;
  }

  .storys_wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    margin-top: 50px;
    padding: 0;
    padding-top: 20;
    z-index: 10;
    background-color: rgb(254, 248, 225);
  }
}

.about_wrap {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: calc(-50vw + 49%);
  padding-left: 24px;
  margin-top: 100px;
  z-index: 10;
  color: #492c00;
}

.about_container {
  position: absolute;
  background-color: rgb(254, 248, 225);
  border-radius: 0 30px 30px 0;
  width: 100%;
  height: calc(100% + 50px);
  z-index: 1;
  left: -50px;
  top: -25px;
}

.about_text_wrap {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.about_image {
  flex-basis: 40%;
  aspect-ratio: 16 / 9;
  width: auto;
  height: auto;
  z-index: 10;
  margin-left: 15px;
}

.about_title {
  font-size: 2rem;
}

.about_text {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .about_wrap {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding: 20;
    z-index: 10;
    background-color: rgb(254, 248, 225);
  }

  .about_container {
    display: none;
  }

  .about_text_wrap {
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding-left: 0px;
    text-align: center;
  }

  .about_image {
    display: block;
    flex-basis: none;
    aspect-ratio: 16 / 9;
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 30px;
    z-index: 10;
  }

  .about_title {
    font-size: 1.3rem;
  }

  .about_text {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .about_wrap {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    padding: 0;
    padding-top: 20;
    z-index: 10;
    background-color: rgb(254, 248, 225);
  }
  .about_image {
    display: block;
    flex-basis: none;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding-top: 0;
    z-index: 10;
  }
}

.drink_container {
  position: relative;
  background-color: rgb(254, 248, 225);
}

.catch_drink_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 50px auto;
  max-width: 1200px;
  color: #492c00;
}


.catch_drink_title {
  font-size: 3rem;
  padding-top: 20px;
  margin: 100px 0 20px;
  text-align: center;
}

.catch_drink_item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.catch_drink_image {
  aspect-ratio: 1 / 1;
}

.catch_drink_name {
  font-size: 1.5rem;
}

.catch_drink_text {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .catch_drink_name {
    font-size: 1.5rem;
    text-align: center;
  }
  .catch_drink_text {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .catch_drink_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 50px auto;
    max-width: 1200px;
  }
  .catch_drink_name {
    font-size: 1.5rem;
    text-align: center;
  }
  .catch_drink_text {
    font-size: 1rem;
    text-align: center;
  }
}

.catch_food_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 50px auto;
  color: #492c00;
}

.food_container {
  background-color: rgb(254, 248, 225);
  padding-bottom: 50px;
}

.catch_food_title {
  font-size: 3rem;
  padding-top: 20px;
  margin: 0 0 20px;
  text-align: center;
}

.catch_food_item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.catch_food_image {
  aspect-ratio: 1 / 1;
  height: auto;
}

.catch_food_name {
  font-size: 1.5rem;
}

.catch_food_text {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .catch_food_name {
    font-size: 1.5rem;
    text-align: center;
  }
  .catch_food_text {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .catch_food_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 100px auto;
    padding-top: 0;
    color: #492c00;
  }
  .catch_food_title {
    font-size: 3rem;
    padding-top: 20px;
    margin: 10px 0 20px 0;
    text-align: center;
  }
  .catch_food_name {
    font-size: 1.5rem;
    text-align: center;
  }
  .catch_food_text {
    font-size: 1rem;
    text-align: center;
  }
}


.contact_wrap {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding-top: 30px;
  z-index: 10;
  color: #492c00;
}

.contact_container {
  width: 100%;
  background-color: rgb(254, 248, 225);
  z-index: 1;
}

.contact_left_wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.contact_left_title {
  font-size: 2rem;
}

.contact_left_text {
  font-size: 1rem;
}

.contact_left_button {
  padding: 15px 70px;
  width: fit-content;
  background-color: #492c00;
  color: rgb(254, 248, 225);
  margin-top: 20px;
}

.contact_right_wrap {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  z-index: 10;
}

.contact_right_mail {
  font-size: 1rem;
}

.contact_right_tell {
  font-size: 1rem;
  margin-top: 10px;
}

.contact_right_address {
  font-size: 1rem;
  margin-top: 10px;
}

.contact_text_border {
  width: fit-content;
  font-size: 0.8rem;
  border-bottom: 1px solid red;
}

.contact_right_address .contact_text_border:last-child {
  width: fit-content;
  font-size: 0.8rem;
  border-bottom: 1px solid red;
  margin-bottom: 50px;
}

.iframe_style {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: 100 auto 100px;
  padding-top: 42.25%;
  height: 0;
}

.iframe_style iframe {
  position: absolute;
  top: -90;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .contact_wrap {
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    z-index: 10;
  }
  .iframe_style {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    margin: none;
    padding-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .contact_left_wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .contact_right_wrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    z-index: 10;
  }

  .contact_left_title {
    font-size: 2rem;
    margin-left: 5px;
  }

  .contact_left_text {
    font-size: 1rem;
    margin-left: 5px;
  }
  .contact_left_button {
    padding: 15px 15px;
    margin-left: 5px;
    width: fit-content;
    background-color: #492c00;
    color: rgb(254, 248, 225);
    margin-top: 20px;
  }
  .main {
    margin: auto;
    margin-bottom: 0;
    overflow-x: hidden;
  }
}