.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/tennai.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.mainvisual_wrap {
  position: relative;
  display: block;
  text-align: center;
}

.mainvisual_title {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16 / 9;
}

.mainvisual_heroimage {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100dvh;
}

.main {
  margin: auto;
  margin-bottom: 50px;
}

.infomation_wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
  padding: 50px 100px;
  margin-top: 80px;
  background-color: #3d16bd;
  border-radius: 30px;
}

.infomation_top_text_left {
  flex-basis: 50%;
}

.infomation_top_text_right {
  flex-basis: 50%;
}

.infomation_top_title {
  position: relative;
  flex-basis: 100%;
  font-size: 1.5rem;
}
.infomation_top_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #d20c0c, rgba(0,0,0,0)) 1;
}

.infomation_boder {
  flex-basis: 50%;
}

.infomation_top_list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  flex-basis: 50%;
  border-left: 2px solid red;
  list-style-type: none;
  border-image: linear-gradient(to top, #d20c0c, rgba(0,0,0,0)) 1;
}

.infomation_top_list_text {
  padding-left: 20px;
  font-size: 1.5rem;
  margin-top: 10px;
  background-image : linear-gradient(to right, #bd1616 2px, transparent 2px);
  background-size: 6px 2px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.storys_wrap {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: calc(-50vw + 49%);
  margin-top: 100px;
  z-index: 10;
}

.storys_container {
  position: absolute;
  background-color: #3d16bd;
  border-radius: 30px 0 0 30px;
  height: 600px;
  z-index: 1;
  margin-left: 82px;
  top: -25px;
  width: calc(100% - 72px);
}

.storys_text_wrap {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 20px;
  z-index: 10;
}

.storys_title {
  font-size: 2rem;
}

.storys_text {
  font-size: 2rem;
}

.storys_image {
  margin-left: auto;
  aspect-ratio: 1 / 1;
  width: 550px;
  z-index: 10;
}

.about_wrap {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: calc(-50vw + 49%);
  padding-left: 24px;
  margin-top: 100px;
  z-index: 10;
}

.about_container {
  position: absolute;
  background-color: #3d16bd;
  border-radius: 0 30px 30px 0;
  width: 100%;
  height: 600px;
  z-index: 1;
  left: -50px;
  top: -25px;
}

.about_text_wrap {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.about_image {
  aspect-ratio: 1 / 1;
  width: 550px;
  z-index: 10;
  margin-left: 15px;
}

.about_title {
  font-size: 2rem;
}

.about_text {
  font-size: 2rem;
}

.catch_drink_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 100px auto 50px auto;
  max-width: 1200px;
  padding-top: 100px;
}

.drink_container {
  position: relative;
  background-color: #3d16bd;
}


.catch_drink_item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.catch_drink_image {
  aspect-ratio: 1 / 1;
}

.catch_drink_title {
  font-size: 1.5rem;
}

.catch_drink_text {
  font-size: 1rem;
}

.catch_food_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 100px auto;
  padding-top: 50px;
}

.food_container {
  background-color: #3d16bd;
}

.catch_food_item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.catch_food_image {
  aspect-ratio: 1 / 1;
  height: auto;
}

.catch_food_title {
  font-size: 1.5rem;
}

.catch_food_text {
  font-size: 1rem;
}

.contact_wrap {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  z-index: 10;
}

.contact_container {
  position: absolute;
  width: 100%;
  background-color: #e0dc18;
  height: 100%;
  z-index: 1;
  margin-top: 50px;
}

.contact_left_wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.contact_left_title {
  font-size: 2rem;
}

.contact_left_text {
  font-size: 1rem;
}

.contact_left_button {
  padding: 15px 70px;
  width: fit-content;
  border: 2px solid red;
  background-color: aqua;
  margin-top: 20px;
}


.contact_right_wrap {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  z-index: 10;
}

.contact_right_mail {
  font-size: 1rem;
}

.contact_right_tell {
  font-size: 1rem;
  margin-top: 10px;
}

.contact_right_address {
  font-size: 1rem;
  margin-top: 10px;
}

.contact_text_border {
  width: fit-content;
  font-size: 0.8rem;
  border-bottom: 1px solid red;
}

.contact_right_address .contact_text_border:last-child {
  width: fit-content;
  font-size: 0.8rem;
  border-bottom: 1px solid red;
  margin-bottom: 50px;
}

.iframe_style {
  position: relative;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto 100px;
}