.main {
	margin: 0 auto;
	max-width: 1000px;
}

.top_title {
	font-size: 2rem;
}

.drinkmenu_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}

.drinkmenu_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	margin: 0 auto 40px auto;
	padding-left: 10px;
}

.drinkmenu_item_text {
	font-size: 1.5rem;
}

.drinkmenu_item_dot {
	flex-grow: 1;
	height: 6px;
	margin: 0 15px;
	background-image: radial-gradient(circle, #c61515 2px, transparent 2px);
	background-size: 10px 4px;
	background-repeat: repeat-x;
	background-position: center;
}

.drinkmenu_item_price {
	font-size: 1rem;
}